html, body {
    width: 100%;
    height: 100%;
}

body {
    background: {
        image: url(../img/puzzle-bg.jpg);
        position: center center;
        size: 1373px 1410px;
        repeat: repeat;
    }
}

.game {
    width: 100%;
    max-width: 1024px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.frame {
    position: absolute;
    top: 165px;
    left: 393px;
    img{
        width: 570px;
        height: 320px;
    }
}
.pieces {
    position: absolute;
    top: 0px;
    left: 0px;
}

.piece {
    // display: none;
    position: absolute;
    cursor: pointer;
}

.pieceMan {
    position: absolute;
    top: 167.5px;
    left: 779px;
    img{
        width: 181px;
        height: 315px;
    }
}

.piece1 {
    top: 514px;
    left: 394px;
    img{
        width: 166px;
        height: 155px;
    }
}

.piece2 {
    top: 512px;
    left: 205px;
    img{
        width: 152px;
        height: 195px;
    }
}

.piece3 {
    top: 392px;
    left: 11px;
    img{
        width: 202px;
        height: 155px;
    }
}

.piece4 {
    top: 496px;
    left: 819px;
    img{
        width: 130px;
        height: 193px;
    }
}

.piece5 {
    top: 514px;
    left: 572px;
    img{
        width: 210px;
        height: 159px;
    }
}

.piece6 {
    top: 170px;
    left: 50px;
    img{
        width: 127px;
        height: 193px;
    }
}

.piece.clicked{
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.piece1.clicked {
    top: 167.5px;
    left: 395px;
    animation-name: piece1Clicked;
}

.piece2.clicked {
    top: 167.5px;
    left: 525px;
    animation-name: piece2Clicked;
}

.piece3.clicked {
    top: 167.5px;
    left: 645px;
    animation-name: piece3Clicked;
}

.piece4.clicked {
    top: 289px;
    left: 678px;
    animation-name: piece5Clicked;
}

.piece5.clicked {
    top: 324px;
    left: 496px;
    animation-name: piece6Clicked;
}

.piece6.clicked {
    top: 289px;
    left: 395px;
    animation-name: piece7Clicked;
}

.separator{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    visibility: hidden;
    background-color: white;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    // animation-delay: 2s;
}

.separator.show{
    display: block;
    visibility: visible;
    opacity: 0;
    animation-name: showSeparator;
}

.product{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: {
        image: url(../img/product-bg.jpg);
        position: center center;
        size: 1373px 1410px;
        repeat: repeat;
    }
    display: none;
    visibility: hidden;
    background-color: white;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.product.show{
    display: block;
    visibility: visible;
    opacity: 0;
    animation-name: showProduct;
}

.topRight{
    img{
        width: 321px;
        height: 141px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.bottomLeft{
    img{
        width: 291px;
        height: 105px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.bottomRight{
    img{
        width: 321px;
        height: 115px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.centerCenter{
    img{
        width: 872px;
        height: 235px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35%);
    }
}



@keyframes piece1Clicked {
    0%   {top: 514px;left: 394px;}
    100% {top: 167.5px;left: 395px;}
}

@keyframes piece2Clicked {
    0%   {top: 512px;left: 205px;}
    100% {top: 167.5px;left: 525px;}
}

@keyframes piece3Clicked {
    0%   {top: 392px;left: 11px;}
    100% {top: 167.5px;left: 645px;}
}

@keyframes piece4Clicked {
    0%   {top: 170px;left: 192px;}
    100% {top: 167.5px;left: 779px;}
}

@keyframes piece5Clicked {
    0%   {top: 496px;left: 819px;}
    100% {top: 289px;left: 678px;}
}

@keyframes piece6Clicked {
    0%   {top: 514px;left: 572px;}
    100% {top: 324px;left: 496px;}
}

@keyframes piece7Clicked {
    0%   {top: 170px;left: 50px;}
    100% {top: 289px;left: 395px;}
}

@keyframes showSeparator {
    0%   {display: none;visibility: hidden;opacity: 0;}
    100% {display: block;visibility: visible;opacity: 1;}
}

@keyframes showProduct {
    0%   {display: none;visibility: hidden;opacity: 0;}
    100% {display: block;visibility: visible;opacity: 1;}
}

